<div class="section">
  <div class="header-left">
    <%= link_to :back, class: "waves-effect waves-light btn-small btn-yellow-dark" do %>
      <i class="material-icons left">arrow_back</i>Back
    <% end %>
  </div>
  <div class="edit-form z-depth-3">
    <h3 class="text-black-dark text-bold">Update Account</h3><br />
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

      <div class="field">
        <%= f.label :email, class: "label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :username, class: "label" %><br />
        <%= f.text_field :username, autocomplete: "username" %>
      </div>

      <div class="field">
        <%= f.label :first_name, class: "label" %><br />
        <%= f.text_field :first_name, autocomplete: "first name" %>
      </div>

      <div class="field">
        <%= f.label :last_name, class: "label" %><br />
        <%= f.text_field :last_name, autocomplete: "last name" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "label" %><br />
        <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: @minimum_password_length.to_s + " characters minimum" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label"%><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "label" %><br />
        <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update Account", class: "waves-effect waves-light btn-small btn-submit" %>
      </div>
    <% end %>
  </div>

  <div class="delete-form z-depth-3">
    <h3 class="text-white text-bold">Delete Account</h3>
    
    <span class="text-white" style="margin-top: 10px; margin-bottom: 20px;">Please don't leave us! We'll miss you if you go :(</span>
    
    <%= link_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "waves-effect waves-light btn-small btn-cancel" do %>
      <i class="material-icons right">delete_forever</i> Delete Account
    <% end %>
  </div>
</div>
