<div class="own section one"> 
  <div class="card-container">
    <div class="card">
      <div class="card-content text-space-sm">
        <div class="avatar">
        <%= image_tag('avatar-4.jpg', :class => 'materialboxed') %>
        </div>
        <% if current_user.user_type == 'Chef' %>
          <span class="card-title text-black-dark text-bold">Chef <%= [current_user.first_name, current_user.last_name].join(' ') %></span>
          <p class="card-details text-black-light text-italic">
            <i class="material-icons left">location_on</i> <%= [current_user.chef.city, current_user.chef.region].join(', ') %>
          </p>
          <p class="card-details text-black-light"><i class="material-icons left">phone</i> <%= current_user.chef.contact_number %></p>
          <% @total_rating = 0 %>
          <% @review_count = 0 %>
          <% @appointments.each do |a| %>
            <% unless a.review.nil? %>
              <% @total_rating = @total_rating + a.review.chef_rating %>
              <% @review_count = @review_count + 1%>
            <% end %>
          <% end %>

          <div class="rating-container text-yellow-dark">
            <% if @review_count > 0 %>
            <% @rating = (@total_rating/@review_count).round(0) %>
              <% case @rating %>
              <% when 0 %>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
              <% when 1 %>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
              <% when 3 %>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
              <% when 3 %>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
              <% when 4 %>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
              <% when 5 %>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
              <% end %>
            <% else %>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            <% end %>
          </div>

          <% unless current_user.chef.bio.nil? || current_user.chef.bio == '' %>
            <div class="divider"></div>
          
            <div class="bio-container">
              <p class="card-details text-black-light text-italic">"<%= current_user.chef.bio.truncate(100) %>"</p>
            </div>
          <% end %>

          <div class="divider"></div>
          
          <span class="card-title text-black-dark text-bold">Account balance:</span>
          <p class="card-details text-yellow-dark text-bold money"><%= convert_to_money(current_user.wallet.current_balance) %></p>

          <div class="btn-container">
          </div>

          <div class="card-action">
            <%= link_to(edit_chef_profile_path(current_user.chef.id), class: "waves-effect waves-light btn-large btn-yellow-dark") do %>
              Edit Profile <i class="material-icons right">edit</i>
            <% end %>
            <%= link_to(edit_user_registration_path(current_user.id), class: "waves-effect waves-light btn-large btn-black-dark") do %>
              Edit Account <i class="material-icons right">account_circle</i>
            <% end %>
          </div>

        <% elsif current_user.user_type == 'Client' %>
          <span class="card-title text-black-dark text-bold"><%= [current_user.first_name, current_user.last_name].join(' ') %></span>
          <p class="card-details text-black-light text-italic">
            <i class="material-icons left">location_on</i> <%= [current_user.client.city, current_user.client.region].join(', ') %>
          </p>
          <p class="card-details text-black-light"><i class="material-icons left">phone</i> <%= current_user.client.contact_number %></p>
          
          <div class="divider"></div>
          
          <span class="card-title text-black-dark text-bold">Account balance:</span>
          <p class="card-details text-yellow-dark text-bold money"><%= convert_to_money(current_user.wallet.current_balance) %></p>

          <div class="btn-container">
          </div>
          
          <div class="card-action">
            <%= link_to(edit_client_profile_path(current_user.client.id), class: "waves-effect waves-light btn-large btn-yellow-dark") do %>
              Edit Profile <i class="material-icons right">edit</i>
            <% end %> 
            <%= link_to(edit_user_registration_path(current_user.id), class: "waves-effect waves-light btn-large btn-black-dark") do %>
              Edit Account <i class="material-icons right">account_circle</i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
