%link(rel="stylesheet" type="text/css" href="users.scss");

.form
  %h1{class:'text-3xl'} Users List
  %table{:class => "w-full py-22 table text-gray-900 text-sm"}
    %thead{:class => "bg-gray-50 text-gray-500"}
      %tr
        %th{:class => "p-3 center"} Email
        %th{:class => "p-3 center"} Type
        %th{:class => "p-3 center"} Username
        %th{:class => "p-3 center"} First Name
        %th{:class => "p-3 center"} Last Name
        %th{:class => "p-3 center"} Region
        %th{:class => "p-3 center"} City
        %th{:class => "p-3 center"} Contact Number
        %th{:class => "p-3 center"} Date Latest Suspended
        %th{:class => "p-3 center"} Action
    %tbody
      - @users.each do |user|
        %tr{:class => "bg-white text-center border border-solid border-gray-300 outline-none shadow drop-shadow-xl"}
          %td{:class => "p-3 center"}= user.email
          %td{:class => "p-3 center"}= user.user_type
          %td{:class => "p-3 center"}
            - if user.user_type == "Client"
              = link_to "#{user.username}", client_profile_path(user.client.id)
            - elsif user.user_type == "Chef"
              = link_to "#{user.username}", chef_profile_path(user.chef.id)
          %td{:class => "p-3 center"}= user.first_name
          %td{:class => "p-3 center"}= user.last_name
          - if user.user_type == 'Client'
            %td{:class => "p-3 center"}= user.client.region
            %td{:class => "p-3 center"}= user.client.city
            %td{:class => "p-3 center"}= user.client.contact_number
            %td{:class => "p-3 center"}
              - if user.client.suspended_at
                = format_date(user.client.suspended_at)
              - else
                This user is fine.
            %td{:class => "p-3 center"}
              - if user.client.suspended_at
                = link_to 'Unsuspend?', unsuspend_client_path(user.client.id), class: "", data: {confirm:"Unsuspend this user?"}
              - else
                = link_to 'Suspend?', suspend_client_path(user.client.id), class: "", data: {confirm:"Suspend this user?"}

          - elsif user.user_type == 'Chef'
            %td{:class => "p-3 center"}= user.chef.region
            %td{:class => "p-3 center"}= user.chef.city
            %td{:class => "p-3 center"}= user.chef.contact_number
            %td{:class => "p-3 center"}
              - if user.chef.suspended_at
                = format_date(user.chef.suspended_at)
              - else
                This user is fine.
            %td{:class => "p-3 center"}
              - if user.chef.suspended_at
                = link_to 'Unsuspend?', unsuspend_chef_path(user.chef.id), class: "", data: {confirm:"Unsuspend this user?"}
              - else
                = link_to 'Suspend?', suspend_chef_path(user.chef.id), class: "", data: {confirm:"Suspend this user?"}
