%link(rel="stylesheet" type="text/css" href="users.scss");


.form.appointments
  %h1{class:'text-3xl'} Appointments List
  %table
    %thead
      %tr
        %th Chef
        %th Client
        %th Created At
        %th Notes to Chef
        %th Schedule
        %th Total Charge
        %th Confirmed At
        %th Confirm?
        %th Payment Released At
        %th Action
    %thead
      - @appointments.each do |a|
        %tr
          %td= link_to "#{a.chef.user.first_name} #{a.chef.user.last_name}", chef_profile_path(a.chef.id)
          %td= link_to "#{a.request.client.user.first_name} #{a.request.client.user.last_name}", client_profile_path(a.request.client.id)
          %td= format_date(a.created_at)
          %td
            - if a.schedule 
              = format_schedule(a.schedule)
              = format_schedule_time(a.appointment_time)
            - else
              No schedule yet
          %td= convert_to_money(a.total_charge)
          %td= a.confirmed_at ? format_date(a.confirmed_at) : "Not confirmed"
          %td= a.payment_released_at ? format_date(a.payment_released_at) : "No payment yet"
          %td= link_to "Show the review", appointment_review_path(a.id, a.review.id), class: "text-black text-bold" if a.review
