%h2{class:"font-bold text-3xl"} Edit Chef Account
= form_with scope: :chef, url: chef_profile_path, method: :patch do |f|
  - if @chef.errors.any?
    %h2 Errors: 
    %ul
      - @chef.errors.full_messages.each do |message|
        %li= message
  %div{class:"flex flex-col items-center justify-center gap-4 text-gray-800"}
    %div{class: "flex flex-col gap-2"}
      %h1{class: 'text-sm text-white'}CONTACT NUMBER
      = f.text_field :contact_number, class: 'rounded w-80', placeholder: "Contact Number"
    %div{class: "flex flex-col gap-2"}
      %h1{class: 'text-sm text-white'}BIO
      = f.text_area :bio, class: 'rounded w-80', placeholder: "Bio"
      %h1{class: 'text-sm text-white'}REGION
    %div{class: "flex flex-col gap-2"}
      %select{ name: "chef[region]", required: ""}
        %option{selected: "selected", value: ""} Select Region
        = CS.states(:ph).each do |key, value|
          %option{id: key, value: value}= value
    %div{class: "flex flex-col gap-2"}
      %h1{class: 'text-sm text-white'}CITY
      = f.text_field :city, class: 'rounded w-80', placeholder: "City"
    %button{class:"mt-10 rounded bg-blue-500 px-5 py-2 w-full text-white font-bold transition-ease duration-200 cursor-pointer hover:opacity-50"}
      = f.submit "Update Account", :class => "font-bold"