%div{class: "section one"}
  %div{class: "header-left"}
    = link_to :back, class: "waves-effect waves-light btn-small btn-yellow-dark" do
      %i{class: "material-icons left"}arrow_back
      Back
  %div{class: "edit-form z-depth-3"}
    %h4{class: "text-black-dark text-bold"} Update Chef Profile
    = render "devise/shared/error_messages", resource: @chef 
    
    = form_with scope: :chef, url: chef_profile_path, method: :patch do |f|
      %div{class: "field"}
        = f.label :contact_number, class: "label"
        = f.text_field :contact_number, placeholder: "e.g. 09123454432"

      %div{class: "field"}
        = f.label :region, class: "label"
        %select{ name: "chef[region]", required: ""}
          %option{selected: "selected", value: ""} Select Region
          = CS.states(:ph).each do |key, value|
            %option{id: key, value: value}= value
      
      %div{class: "field"}
        = f.label :city, class: "label"
        = f.text_field :city, placeholder: "City"
      
      %div{class: "field"}
        = f.label :bio, class: "label"
        = f.text_area :bio

      = f.submit("Update Profile", class: "waves-effect waves-light btn-small btn-submit")
