%div{class: "section one"}

  - if current_user == nil || current_user.user_type == "Client"
    %div{class: "header-left"}
      = link_to :back, class: "waves-effect waves-light btn-small btn-yellow-dark" do
        %i{class: "material-icons left"}arrow_back
        Back

    %h3{class: "text-black-dark text-bold"} Search Results
    %br
    %br
    %br
    %br
    %br
    %br
    - unless @chef.nil? || @chef.empty?
      - @chef.each do |c|
        %div{class: "review-container"}
          %div{class: "card"}
            %div{class: "card-content"}
              %span{class: "card-name text-black-dark text-bold left"}
                = "Chef " + [c.user.first_name, c.user.last_name].join(' ')
              %span{class: "text-yellow-darker right"}
                - @appointments = Appointment.where(chef_id: c.id)
                - @total_rating = 0
                - @review_count = 0

                - unless @appointments.empty?
                  - @appointments.each do |a|
                    - unless a.review.nil?
                      - @total_rating = @total_rating + a.review.chef_rating
                      - @review_count = @review_count + 1
                
                - if @review_count > 0
                  - @rating = (@total_rating/@review_count).round(0)
                  - case @rating
                  - when 1
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                  - when 2
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                  - when 3
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                  - when 4
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star_border
                  - when 5
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star

                - else
                  %i{class: "material-icons left"}star_border
                  %i{class: "material-icons left"}star_border
                  %i{class: "material-icons left"}star_border
                  %i{class: "material-icons left"}star_border
                  %i{class: "material-icons left"}star_border

              %br
              %br

              - unless c.bio.nil?
                %p{class: "text-black-dark text-italic"}
                  = '"' + c.bio + '"'
                %br

              %div{class: "card-action"}
                %span{class: "text-black-dark text-italic"}
                  %i{class: "material-icons left"}my_location
                  = [c.city, c.region].join(', ')
                = link_to "Visit Profile", chef_profile_path(c.id), class: "waves-effect waves-light btn-small btn-submit right"
                %br
    - else
      %h5{class: "text-black-light text-italic"} Sorry! No chefs available in the desired region :(
  - else
    %h3{class: "text-black-dark text-bold"} Browse All Chefs
    %br
    %br
    %br
    %br
    %br
    %br
    - unless @all_chefs.nil? || @all_chefs.empty?
      - @all_chefs.each do |c|
        %div{class: "review-container"}
          %div{class: "card"}
            %div{class: "card-content"}
              %span{class: "card-name text-black-dark text-bold left"}
                = "Chef " + [c.user.first_name, c.user.last_name].join(' ')
              %span{class: "text-yellow-darker right"}
                - @appointments = Appointment.where(chef_id: c.id)
                - @total_rating = 0
                - @review_count = 0

                - unless @appointments.empty?
                  - @appointments.each do |a|
                    - unless a.review.nil?
                      - @total_rating = @total_rating + a.review.chef_rating
                      - @review_count = @review_count + 1
                
                - if @review_count > 0
                  - @rating = (@total_rating/@review_count).round(0)
                  - case @rating
                  - when 1
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                  - when 2
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                  - when 3
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star_border
                    %i{class: "material-icons left"}star_border
                  - when 4
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star_border
                  - when 5
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star
                    %i{class: "material-icons left"}star

                - else
                  %i{class: "material-icons left"}star_border
                  %i{class: "material-icons left"}star_border
                  %i{class: "material-icons left"}star_border
                  %i{class: "material-icons left"}star_border
                  %i{class: "material-icons left"}star_border

              %br
              %br

              - unless c.bio.nil?
                %p{class: "text-black-dark text-italic"}
                  = '"' + c.bio + '"'
                %br

              %div{class: "card-action"}
                %span{class: "text-black-dark text-italic"}
                  %i{class: "material-icons left"}my_location
                  = [c.city, c.region].join(', ')
                = link_to "Visit Profile", chef_profile_path(c.id), class: "waves-effect waves-light btn-small btn-submit right"
                %br
