-if current_user == nil || [user_signed_in? && current_user.user_type == "Client"] 
  %h1{class:'text-3xl'} Chef's Search List
  %table{:class => "w-full py-22 table text-gray-900 text-sm"}
    %thead{:class => "bg-gray-50 text-gray-500"}
      %tr
        %th{:class => "p-3 center"} Email
        %th{:class => "p-3 center"} Username
        %th{:class => "p-3 center"} First Name
        %th{:class => "p-3 center"} Last Name
        %th{:class => "p-3 center"} Region
        %th{:class => "p-3 center"} City
        %th{:class => "p-3 center"} Contact Number
        %th{:class => "p-3 center"} Action

    %tbody
      - @chef.each do |chef|
        %tr{:class => "bg-white text-center border border-solid border-gray-300 outline-none shadow drop-shadow-xl"}
          %td{:class => "p-3 center"}= chef.user.email
          %td{:class => "p-3 center"}= chef.user.username
          %td{:class => "p-3 center"}= chef.user.first_name
          %td{:class => "p-3 center"}= chef.user.last_name
          %td{:class => "p-3 center"}= chef.region
          %td{:class => "p-3 center"}= chef.city
          %td{:class => "p-3 center"}= chef.contact_number
          %td{:class => "p-3 center"}= link_to 'Show Chef', chef_profile_path(chef.id)
-else
  %h1 Chefs#index
  %p Find me in app/views/chefs/index.html.haml