<%= javascript_pack_tag 'toggle', 'data-turbolinks-track': 'reload' %>

<% if current_user.user_type == 'Chef' && current_user.id == @chef.user_id %>
  <%= render '/profiles/profile_own' %>

  <%# add services here (with CREATE, EDIT, DELETE) %>
  <div class="services section two">
    <h3 class="text-black-dark text-bold">Services</h3>
 
    <table>
      <thead>
        <tr>
        <th>Specialty</th>
        <th>Service Rate</th>
        </tr>
      </thead>
      <tbody>
      <% @services.each do |service| %>
        <tr>
        <td><%= service.specialty %></td>
        <td><%= service.service_rate %></td>
        <td><%= link_to 'Edit', edit_chef_service_path(@chef.id, service.id) %></td>
        <td><%= link_to 'Delete', chef_service_path(@chef.id, service.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
        <tr>
      </tbody>
    </table>
    
    <% if @services.empty? %>
      <h5 class="text-black-light text-italic">No available services</h5>
    <% end %>

    <input type="button" value="Add new service" id="toggle-btn">

    <div class="new-service" id="toggle-div" style="display: none;">
      <%= render '/services/form' %>
    </div>
    
  </div>


  <%# add gallery here (with CREATE, EDIT, DELETE)%>
  <div class="gallery section three">
    <h3 class="text-black-dark text-bold">Gallery</h3>
     
    <%= render '/galleries/form' %>
    
    <% if @galleries.empty? %>
      <h5 class="text-black-light text-italic">No available images</h5>
    <% end %>
  
    <% @galleries.each do |gallery| %>
      <% if gallery.image.attached? %>
        <img class="materialboxed" src="<%= (url_for(gallery.image)) %>" height="100px">
        <%= link_to 'Delete', chef_gallery_path(@chef.id, gallery.id), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>

  </div>

<% else %>
  <%# this is profile_own but without the  %>
  <%= render '/profiles/profile_public' %>
  
  <%# add gallery, services, reviews here %>
<% end %>
