<%#= javascript_pack_tag 'toggle', 'data-turbolinks-track': 'reload' %>

<% if current_user.user_type == 'Chef' && current_user.id == @chef.user_id %>
  <%= render '/profiles/profile_own' %>

  <%# add services here (with CREATE, EDIT, DELETE) %>
  <div class="services section two">
    <div class="header-with-btn">
      <h3 class="text-black-dark text-bold">Services<a class="modal-trigger" href="#service-form"><i class="material-icons right">playlist_add</i></a></h3>
    </div>
    
    <div id="service-form" class="modal">
      <div class="modal-content">
        <h4 class="text-italic">Chef Service Form</h4>
        <%= render '/services/form' %>
      </div>
    </div>
    
    <% if @services.empty? %>
      <h5 class="text-black-light text-italic">No available services</h5>
    <% else %>
      <ul class="collection">
        <% @services.each do |service| %>
          <li class="collection-item">
            <div>
              <i class="material-icons left text-yellow-darker" style="font-size: calc(20px + 1 vw) !important;">restaurant</i><span class="text-yellow-dark text-bold" style="font-size: calc(20px + 1 vw) !important; text-transform: uppercase;"><%= service.specialty%></span>
            </div>
            <br>
            <div>
              <i class="material-icons left text-black-light" style="font-size: calc(20px + 1 vw) !important;">person</i><span class="text-black-light text-italic" style="font-size: calc(10px + 1 vw) !important;"><%= convert_to_money(service.service_rate) %> × head</span>

              <%= link_to(chef_service_path(@chef.id, service.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-red') do %>
                <i class="material-icons right">delete</i>
              <% end %>
              
              <%= link_to(edit_chef_service_path(@chef.id, service.id), class: 'text-black-dark') do %>
                <i class="material-icons right">edit</i> 
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>


  <%# add gallery here (with CREATE, EDIT, DELETE)%>
  <div class="gallery section three">
    <div class="header-with-btn">
      <h3 class="text-black-dark text-bold">Gallery<a class="modal-trigger" href="#gallery-form"><i class="material-icons right" style="line-height: 0.25 !important;">add_a_photo</i></a></h3>
    </div>
    
    <div id="gallery-form" class="modal">
      <div class="modal-content">
        <h4 class="text-italic">Upload a Photo</h4>
        <%= render '/galleries/form' %>
      </div>
    </div>
     
      <div class="gallery-container z-depth-4">
        <% if @galleries.empty? %>
          <h5 class="text-black-light text-italic">No available images</h5>
        <% else %>
          <% @galleries.each do |gallery| %>
            <% if gallery.image.attached? %>
              <div class="image-container z-depth-2">
                <div class="delete-container">
                  <%= link_to(chef_gallery_path(@chef.id, gallery.id), method: :delete, data: { confirm: "Are you sure?" }) do %>
                    <i class="material-icons right">clear</i> 
                  <% end %>
                </div>

                <div class="image-frame">
                  <img class="materialboxed" src="<%= (url_for(gallery.image)) %>">
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
  </div>

<% else %>
  <%# this is profile_own but without the  %>
  <%= render '/profiles/profile_public' %>
  
  <%# add services here %>
  <div class="services section two">
    <h3 class="text-black-dark text-bold">Services</h3>
    
    <% if @services.empty? %>
      <h5 class="text-black-light text-italic">No available services</h5>
    <% else %>
      <ul class="collection">
        <% @services.each do |service| %>
          <li class="collection-item">
            <div>
              <i class="material-icons left text-yellow-darker" style="font-size: calc(20px + 1 vw) !important;">restaurant</i><span class="text-yellow-dark text-bold" style="font-size: calc(20px + 1 vw) !important; text-transform: uppercase;"><%= service.specialty%></span>
            </div>
            <br>
            <div>
              <i class="material-icons left text-black-light" style="font-size: calc(20px + 1 vw) !important;">person</i><span class="text-black-light text-italic" style="font-size: calc(10px + 1 vw) !important;"><%= convert_to_money(service.service_rate) %> × head</span>
            </div>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%# add gallery here %>
  <div class="gallery section three">
    <h3 class="text-black-dark text-bold">Gallery</h3>
    
    <% if @galleries.empty? %>
      <h5 class="text-black-light text-italic">No available images</h5>
    <% else %>
      <div class="carousel">
        <% @galleries.each do |gallery| %>
          <% if gallery.image.attached? %>
            <a class="carousel-item"> 
              <div class="image-carousel">
                <img class="materialboxed" src="<%= (url_for(gallery.image)) %>">
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>


<% @reviews.each do |review| %>
  <% if review.review.client_comment.present? %>
    <%= review.review.client_comment %>
    <%= review.review.chef_rating %>
    <% else %>
      <div class="reviews section four">
        <h3 class="text-black-dark text-bold">Reviews</h3> 
        <h5 class="text-black-light text-italic">No available reviews</h5>
      </div>
  <% end %>
<% end %>