<% if current_user.user_type == 'Chef' && current_user.id == @chef.user_id %>
  <%= render '/profiles/profile_own' %>
  <%= render '/services/form' %>
  <table>
          <thead >
              <tr>
              <th>Specialty</th>
              <th>Service Rate</th>
              </tr>
          </thead>
          <tbody>
          <% @services.each do |service| %>
            <tr>
            <td><%= @service.specialty %></td>
            <td><%= @service.service_rate %></td>
            <% end %>
            <tr>
          </tbody>
  </table>
  <%# add gallery, services, reviews here %>
  <%= render '/galleries/form' %>
  <% @galleries.each do |gallery| %>
    <% if gallery.image.attached? %>
      <img class="materialboxed" src="<%= (url_for(gallery.image)) %>" height="100px">
      <%= link_to 'Delete', chef_gallery_path(@chef.id, gallery.id), method: :delete, data: { confirm: "Are you sure?" } %>
    <% else %>
      <h1> No available images </h1>
    <% end %>
  <% end %>
<% else %>
  <%# this is profile_own but without the  %>
  <%= render '/profiles/profile_public' %>
  
  <%# add gallery, services, reviews here %>
<% end %>