<% if current_user.user_type == 'Client' && current_user.id == @client.user_id %>
  <%= render '/profiles/profile_own' %>


  <%# add appointments here%>
  <div class="appointments section two">
    <h3 class="text-black-dark text-bold">Appointments</h3>

    <div class="appointments-container">
      <div class="row">
        <div class="col s12 tabs-container">
          <ul class="tabs">
            <li class="tab col s3"><a href="#confirmed" class="active">Confirmed</a></li>
            <li class="tab col s3"><a href="#pending">Pending</a></li>
            <li class="tab col s3"><a href="#rejected">Rejected</a></li>
            <li class="tab col s3"><a href="#torate">To Rate</a></li>
          </ul>
        </div>
        
        <div id="confirmed" class="tab-content">
          <% @confirmed = 0 %>
          <% @appointments.each do |a| %>
            <% if a.confirmed_at && Date.today < a.schedule %>
              <% @confirmed = @confirmed + 1 %>
              <div class="card appointment">
                <div class="card-content">
                  <div class="avatar-img hide-on-med-and-down">
                    <%= image_tag('chef-2.jpg') %>
                  </div>
                  <div class="text-container"> 
                    <span class="card-title text-black-dark text-bold text-italic">
                      <%= "#{a.chef.user.first_name} #{a.chef.user.last_name}" %>
                    </span>
                    <p class="text-black-light">
                    <span class="text-bold">Schedule: </span>
                      <%= format_schedule(a.schedule) %> 
                      <%= format_schedule_time(a.appointment_time) %> 
                    </p>
                    <br>
                    <p class="text-black-light"><span class="text-bold">Total: </span><%= convert_to_money(a.total_charge) %></p>
                    <p class="text-green text-bold">CONFIRMED</p>

                  </div>
                </div>

                <div class="card-action">
                  <% unless a.review.nil? %>
                    <%= link_to "Show the review", appointment_review_path(a.id, a.review.id), class: "text-bold" %> 
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

          <% if @confirmed == 0 %>
            <h5 class="text-black-light text-italic">Nothing to show here</h5>
          <% end %>
        </div>

        <div id="pending" class="tab-content">
          <% @pending = 0 %>
          <% @appointments.each do |a| %>
            <% unless a.confirmed_at %>
              <% @pending = @pending + 1 %>
              <div class="card appointment">
                <div class="card-content">
                  <div class="avatar-img hide-on-med-and-down">
                    <%= image_tag('chef-2.jpg') %>
                  </div>
                  <div class="text-container"> 
                    <span class="card-title text-black-dark text-bold text-italic">
                      <%= "#{a.chef.user.first_name} #{a.chef.user.last_name}" %>
                    </span>
                    <p class="text-black-light">
                    <span class="text-bold">Schedule: </span>
                    <%= format_schedule(a.schedule) %>
                    <%= format_schedule_time(a.appointment_time) %>
                    </p>
                    <br>
                    <p class="text-black-light"><span class="text-bold">Total: </span><%= convert_to_money(a.total_charge) %></p>
                    <p class="text-yellow-darker text-bold">PENDING</p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          
          <% if @pending == 0 %>
            <h5 class="text-black-light text-italic">Nothing to show here</h5>
          <% end %>
        </div>

        <div id="rejected" class="tab-content">
          <% @rejected = 0 %>
          <% @appointments.each do |a| %>
            <% unless a.confirmed_at || Date.today < a.schedule %>
              <% @rejected = @rejected + 1 %>
              <div class="card appointment">
                <div class="card-content">
                  <div class="avatar-img hide-on-med-and-down">
                    <%= image_tag('chef-1.jpg') %>
                  </div>
                  <div class="text-container"> 
                    <span class="card-title text-black-dark text-bold text-italic">
                      <%= "#{a.chef.user.first_name} #{a.chef.user.last_name}" %>
                    </span>
                    <p class="text-black-light">
                    <span class="text-bold">Schedule: </span>
                    <%= format_schedule(a.schedule) %>
                    <%= format_schedule_time(a.appointment_time) %>
                    </p>
                    <br>
                    <p class="text-black-light"><span class="text-bold">Total: </span><%= convert_to_money(a.total_charge) %></p>
                    <p class="text-red text-bold">REJECTED</p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          
          <% if @rejected == 0 %>
            <h5 class="text-black-light text-italic">Nothing to show here</h5>
          <% end %>
          
        </div>
        <div id="torate" class="tab-content">
          <% @to_rate = 0 %>
          <% @appointments.each do |a| %>
            <% if a.confirmed_at && Date.today > a.schedule %>
              <% @to_rate = @to_rate + 1 %>
              <div class="card appointment">
                <div class="card-content">
                  <div class="avatar-img hide-on-med-and-down">
                    <%= image_tag('chef-2.jpg') %>
                  </div>
                  <div class="text-container"> 
                    <span class="card-title text-black-dark text-bold text-italic">
                      <%= "#{a.chef.user.first_name} #{a.chef.user.last_name}" %>
                    </span>
                    <p class="text-black-light">
                    <span class="text-bold">Schedule: </span>
                      <%= format_schedule(a.schedule) %> 
                      <%= format_schedule_time(a.appointment_time) %> 
                    </p>
                    <br>
                    <p class="text-black-light"><span class="text-bold">Total: </span><%= convert_to_money(a.total_charge) %></p>
                    <p class="text-green text-bold">CONFIRMED</p>

                  </div>
                </div>

                <div class="card-action">
                  <% if a.review.nil? %>
                    <%= link_to "Leave a review", new_appointment_review_path(a.id), class: "text-bold" %> 
                  <% else %>
                    <%= link_to "Show the review", appointment_review_path(a.id, a.review.id), class: "text-bold" %> 
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>

          <% if @to_rate == 0 %>
            <h5 class="text-black-light text-italic">Nothing to show here</h5>
          <% end %>
        </div>
      </div>
    </div>

  </div>

<% else %>
  <%# this is profile_own but without the wallet and edit profile and shorter section height %>
  <%= render '/profiles/profile_public' %>
<% end %>
