%div{class: "section one"}
  %div{class: "header-left"}
    = link_to :back, class: "waves-effect waves-light btn-small btn-yellow-dark" do
      %i{class: "material-icons left"}arrow_back
      Back
  %div{class: "details-form z-depth-3"}
    %h4{class: "text-white text-bold"} Account Balance
    %h5{class: "text-white"}= convert_to_money(@balance)
  
  %div{class: "new-form z-depth-3"}
    %h4{class: "text-black-dark text-bold"} Request Form
    %br
    = form_with scope: :request, model: [@request.client, @request] do |f|
      %div{class: "field"}
        = f.label "Chef", class: "label"
        %br
        %div{class: "disabled-field text-black-light"}= [@chef.user.first_name, @chef.user.last_name].join(' ')

      %div{class: "field"}
        = f.hidden_field :client_id, value: current_user.client.id
        = f.hidden_field :chef_id, value: @chef.id

      %div{class: "field"}
        = f.label :head_count, class: "label"
        = f.number_field :head_count, id: 'head_count_id', step: :any, in: 1..50, :required => true

      %div{class: "field"}
        = f.label :cuisine, class: "label"
        = f.collection_select :cuisine, @chef.services, :specialty, :speciality_with_rate, {:prompt => "Select a cuisine"}, required: true

      %div{class: "field"}
        .label Pick a Date
        = f.date_field :schedule_date, class: "datepicker"
        .label Pick a Time
        = f.time_field :schedule_time, class: "timepicker"

      %br
      %div{class: "field"}
        = f.label :notes_to_chef, class: "label"
        = f.text_area :notes_to_chef

      %div{class: "action"}
        = f.submit 'Send Request', onclick: "return confirm('Confirm your request, head count: ' + document.getElementById('head_count_id').value + '?' )", class: "waves-effect waves-light btn-small btn-submit"


-# :javascript
-#   $(document).ready(function(){
-#     $('.datepicker').datepicker();
-#   });

-#   $(document).ready(function(){
-#     $('.timepicker').timepicker();
-#   });