%div{class: "section one"}
  %div{class: "header-left"}
    = link_to :back, class: "waves-effect waves-light btn-small btn-yellow-dark" do
      %i{class: "material-icons left"}arrow_back
      Back
  %div{class: "details-form z-depth-3"}
    %h3{class: "text-white text-bold"} Appointment Details
    %p= 'Chef ' + [@chef.user.first_name, @chef.user.last_name].join(' ')
    %h4{class: "text-white"}= 'Total charge: ' + convert_to_money(@appointment.total_charge)

  %div{class: "new-form z-depth-3"}
    %h3{class: "text-black-dark text-bold"} Request Form
    %br
    = render "devise/shared/error_messages", resource: @review
    = form_with scope: :review, model: [@appointment, @review] do |f|
      %div{class: "field"}
        = f.label :client_comment, class: "label"
        = f.text_area :client_comment, required: true
      
      %div{class: "field"}
        = f.label :chef_rating, class: "label"
        = f.number_field :chef_rating, min: 1, max: 5, step: 1, required: true
       
      %div{class: "action"}
        = f.submit 'Submit Review', class: "waves-effect waves-light btn-small btn-submit"
