- if user_signed_in? && current_user.user_type == "Admin"
  .nav
    .div
      = link_to root_path do
        %i{ class: 'fas fa-home'}
      %h3.text-sm Home
    .span
      =link_to 'Users', all_users_path
    .span
      =link_to 'Reports', admins_reports_path
    .span
      =link_to 'Appointments', admins_appointments_path
    .span
      =link_to 'Transactions', admins_transactions_path
    .span
      =link_to 'Wallet', admins_wallet_path
    .span
      =link_to 'Log Out', destroy_user_session_path, method: :delete

- elsif user_signed_in? && current_user.user_type == "Client"
  .nav
    .div
      = link_to root_path do
        %i{ class: 'fas fa-home'}
      %h3.text-sm Home
    .span
      =link_to 'Profile', client_profile_path(current_user.client.id)
    .span
      =link_to 'Chefs', chefs_path
    .span
      =link_to 'Log Out', destroy_user_session_path, method: :delete

- elsif user_signed_in? && current_user.user_type == "Chef"
  .nav
    .div
      = link_to root_path do
        %i{ class: 'fas fa-home'}
      %h3.text-sm Home
    .span
      =link_to 'Profile', chef_profile_path(current_user.chef.id)
    .span
      =link_to 'Appointments', chef_appointments_path(current_user.chef.id)
    .span
      =link_to 'Log Out', destroy_user_session_path, method: :delete


-else
  .nav
    .div
      = link_to root_path do
        %i{ class: 'fas fa-home'}
      %h3.text-sm Home
    .span
      = link_to 'Log In', new_user_session_path
    .span
      = link_to 'Sign Up', new_user_registration_path
